:host {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  height: calc(100% - 40px);
}

.person-card {
  position: relative;
  width: 400px;
  padding: 0;
  flex: 1;

  .video {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .card-action-btns {
    position: absolute;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    background-color: white;
  }
}
