<mat-card class="person-card">
  <div class="video"></div>

  <div class="card-action-btns">
    <button mat-button>Несоответствует</button>
    <button mat-button>Дальше</button>
    <button mat-button>Нравится</button>
  </div>


</mat-card>
