.main-menu {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 60px;

  button {
    margin-left: 80px;

    &:first-child {margin-left: 0;}
  }
}

.app-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ececec33;
}
