<div id="firebaseui-auth-container"></div>

<div id="app-wrapper" class="app-wrapper" style="display: none">

  <div class="main-menu">
    <button mat-icon-button color="accent" aria-label="Редактировать профиль">
      <mat-icon>home</mat-icon>
    </button>

    <button mat-icon-button color="accent" aria-label="Перейти к сообщениям">
      <mat-icon>chat</mat-icon>
    </button>
  </div>

  <yrm-person-card></yrm-person-card>
</div>
