@import "~reset-css";
@import "~firebaseui/dist/firebaseui.css";

html, body { width: 100%; height: 100%; }
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  * {
    box-sizing: border-box;
  }
}
